dist: trusty
sudo: false

language: node_js
node_js:
  - 8
cache: yarn
install:
  - yarn install
script:
  - yarn coveralls || yarn test
after_script:
  - echo 'coverage -> coveralls'

notifications:
  email:
    on_success: change
    on_failure: always
