@import './_palette.scss';

:global .ss-root {
	width: 100%;
}

:global .ss-input {
	padding-right: 48px;
}

:global .ss-triangle,
:global .ss-remove {
	position: absolute;
	cursor: pointer;
	margin: auto;
	color: $grey;
	right: 6px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 4;
	padding: 2px;
}

:global .ss-remove {
	right: 26px;
}
