:global .suggestor {
	input {
		font-weight: 600;
		font-size: 20px;
		height: 40px;
	}

	li {
		font-size: 16px;
		height: 26px;
	}

	& ::-webkit-input-placeholder {
		font-weight: normal;
		font-size: 18px;
	}
}

.container {
	max-width: 640px;
	width: 90%;
	margin: 0 auto;
	padding: 16px;
}
