.header {
	background-color: var(--blue);
	text-align: center;
	padding: 24px 24px 0;
	margin-bottom: 24px;
	position: sticky;
	top: -50px;
	z-index: 11;
}

.header::after {
	position: absolute;
	content: '';
	display: block;
	left: 0;
	bottom: -24px;
	border-style: solid;
	border-width: 0 100vw 24px 0;
	border-color: transparent var(--blue) transparent transparent;
}

.title {
	padding: 16px 0;
	text-align: center;
	color: var(--white);
	margin: 0 auto;
}

.title h2 {
	font-size: 24px;
}

.link {
	display: inline-block;
	background-color: var(--grey);
	color: var(--blue);
	text-align: center;
	padding: 8px 16px;
	transition: all 0.3s ease-in-out;
}

.link:hover {
	text-decoration: none;
	font-weight: 500;
}

.container {
	max-width: 640px;
	width: 90%;
	margin: 0 auto;
	padding: 16px;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 11;
	text-align: center;
	background-color: var(--grey);
	padding: 8px 16px;
	color: var(--blue);
}

.footer a:hover {
	text-decoration: none;
	color: var(--blue);
	font-weight: 500;
}
