@import '../../styles/palette.scss';

.header {
	background-color: $blue;
	text-align: center;
	padding: 24px 24px 0;
	margin-bottom: 24px;
	position: sticky;
	top: -40px;
	z-index: 11;

	&::after {
		position: absolute;
		content: '';
		display: block;
		left: 0;
		bottom: -24px;
		border-style: solid;
		border-width: 0 100vw 24px 0;
		border-color: transparent $blue transparent transparent;
	}

	.title {
		padding: 16px 0;
		text-align: center;
		color: $white;
		margin: 0 auto;

		h2 {
			font-size: 24px;
		}
	}

	.link {
		display: inline-block;
		background-color: $grey;
		color: $blue;
		text-align: center;
		padding: 8px 16px;
		transition: all 0.3s ease-in-out;

		&:hover {
			text-decoration: none;
			font-weight: 500;
		}
	}
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 11;
	text-align: center;
	background-color: $grey;
	padding: 8px 16px;
	color: $blue;

	& a:hover {
		text-decoration: none;
		color: $blue;
		font-weight: 500;
	}
}
